body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #121212;
    color: #fff;
}

h1, h2, h3 {
    font-weight: 800;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    margin:auto 0;

}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 33.33%;
    padding: 65px 0;
    background: url(img/header-img.png);
    background-position: center;
    background-size: contain;
    background-repeat: none;
}

#search {
    display: flex;
    align-items: center;
    border-radius: 6px;

}

#search-input {
    width: 450px;
    height: 38px;
    background: #2E2E2F;
    background-image: url(img/search-icon.png);
    background-size: 
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 40px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    border: none;
    border-radius: 6px 0px 0px 6px;
}

#search-input:focus {
    outline-color: #A5A5A5;
    box-shadow: none; 
    border: none;
}

#search-button {
    width: 120px;
    height: 38px;
    padding: 9px 11px 9px 17px;
    gap: 8px;
    color: #fff;
    background: #4B4B4B;
    border: none;
    border-radius: 0px 6px 6px 0px;

}

